<
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
              [text]="return"
              [icon]="arrow">
          </ion-back-button>
        </ion-buttons>
   
    <ion-title>affectationForm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Enseignant</ion-label>
    <ion-select value="brown" okText="Ok" cancelText="Annuler">
      <ion-select-option *ngFor="let enseignant of enseignants" >{{enseignant}}</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-list>
    
  
    <ion-item>
      <ion-label>Modules</ion-label>
      <ion-select multiple="true" cancelText="Nah" okText="Okay!">
        <ion-select-option *ngFor="let module of modules" >{{module}}</ion-select-option>
       
      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>
