
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
              [text]="return"
              [icon]="arrow">
          </ion-back-button>
        </ion-buttons>
        <ion-title>detail-module</ion-title>
    
      </ion-toolbar>
    </ion-header>
 

<ion-content>
  <ion-item>
    <ion-label>
      Nom module: {{module.intitule}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Semestre: {{module.semestre}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Coefficient: {{module.coefficient}}

    </ion-label>
  </ion-item>
  <ion-item (click)="onClick()">
    <ion-label>
      Type: Cours, TD, TP
    </ion-label>
  </ion-item>
</ion-content>
