
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
              [text]="return"
              [icon]="arrow">
          </ion-back-button>
        </ion-buttons>
        <ion-title>detail-module</ion-title>
    
      </ion-toolbar>
    </ion-header>
 

<ion-content>
  <ion-item>
    <ion-label>
      Nom module: BDD
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Description: Base de donnée
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Contenu: 4 chapitres
    </ion-label>
  </ion-item>
  <ion-item (click)="onClick()">
    <ion-label>
      Type: Cours, TD, TP
    </ion-label>
  </ion-item>
</ion-content>
