<ion-header>
  <ion-toolbar>
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-center">
    <img src="assets/img/logo.png" style="margin :5px" class="rounded w-50 p-3 mx-auto d-block" alt="logo">
  </div>
  <form (ngSubmit)="login()" [formGroup]="userForm">
    <ion-item lines="full">
      <ion-label position="floating">Nom d'utilisateur</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item *ngIf=" Username.touched && Username.invalid " lines="none">
      <ion-label color="danger" *ngIf="Username.errors.required">
        Erreur <strong>nom d'utilisateur obligatoire</strong>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item *ngIf=" Password.touched && Password.invalid " lines="none">
      <ion-label color="danger" *ngIf="Password.errors.required">
        Erreur <strong>Mot de passe obligatoire</strong>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button color="warning" [disabled]="userForm.invalid" type="submit"  expand="block">Authentification</ion-button        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
