<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="return"
          [icon]="arrow">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Liste des Modules</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar   debounce="500"
  (ionInput)="searchStudent($event)"></ion-searchbar>
  <div  *ngIf="filtredModules != null && filtredModules.length>0;else noRes">
    <ion-list>
      <ion-item *ngFor="let module of filtredModules"  (press)="displayMenu(module.id_module)" [routerLink]="['/admin/detail-module',module.id_module]" >
        <ion-label>{{module.nom}} </ion-label>
      </ion-item>
     
    
    </ion-list>
  </div>
  
  
  
  
  <ng-template #noRes>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label color="danger">
            pas d'modules dans le système
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
   

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" class="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">


      <ion-fab-button color="primary" data-desc="Nouvel module" (click)="showModal()"> 
        <ion-icon name="reorder-four-outline"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
</ion-content>
