<ion-app>
  <ion-buttons slot="start" *ngIf="role!=null && role!= -1">
    <ion-menu-button  color="warning"></ion-menu-button>
  </ion-buttons>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="role!=null && role!= -1 " >
      <ion-header>
        <ion-toolbar color="Warning">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-item-divider>
          </ion-item-divider>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of [1]; let i = index">
            <!-- role==1==>admin -->
            <ion-list *ngIf="role==1" >
            
             
              <ion-item   [routerLink]="['/admin/home']">
                <ion-icon slot="start" md="home-sharp"></ion-icon>

                Accueil
              </ion-item>
              
              <ion-item   [routerLink]="['/admin/listes-enseignants']">
                <ion-icon slot="start" md="people"></ion-icon>

                Enseignant
              </ion-item>
              
              <ion-item  [routerLink]="['/admin/specialite']">
               <ion-icon slot="start" md="laptop"></ion-icon>

                Filière
              </ion-item>

              <ion-item [routerLink]="['/admin/affectation']">
                <ion-icon slot="start" md="caret-forward"></ion-icon>

                Affectation
              </ion-item>
             

              <ion-item-divider>
                <ion-label>
                  Menu Ensiegnant
                </ion-label>
              </ion-item-divider>

              <ion-item   [routerLink]="['/enseignant/bilan']">
                <ion-icon slot="start" md="people-circle"></ion-icon>
    
                Bilan
              </ion-item> 
            </ion-list>

             <!-- role==2==>enseignant -->
             <ion-list *ngIf="role==2||role ==3" >
            
             
              
             

              <ion-item-divider>
                <ion-label>
                  Menu Ensiegnant
                </ion-label>
              </ion-item-divider>

              <ion-item  (click)="goToDetails()">
                <ion-icon slot="start" ios="enter-outline" md="enter-sharp"></ion-icon>
    
                Profil
              </ion-item> 
              <ion-item   [routerLink]="['/enseignant/bilan']">
                <ion-icon slot="start" ios="enter-outline" md="enter-sharp"></ion-icon>
    
                Bilan
              </ion-item>
            </ion-list>
          </ion-menu-toggle>
              

       
             
        </ion-list>
        <ion-item   (click)="logout()">
          <ion-icon slot="start" ios="enter-outline" md="enter-sharp"></ion-icon>

          Logout
        </ion-item> 
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>