<ion-header>
  <ion-toolbar>
    <ion-title>Nouvel etudiant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Matricule</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nivau</ion-label>
    <ion-select> 
      <ion-select-option >Licence 1</ion-select-option>
      <ion-select-option >Licence 2</ion-select-option>
      <ion-select-option >Licence 3</ion-select-option>
      <ion-select-option >Master 1</ion-select-option>
      <ion-select-option >Master 2</ion-select-option>
    
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Spécialité </ion-label>
    <ion-select> 
      <ion-select-option> ISIA</ion-select-option>
      <ion-select-option> IL</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Groupe</ion-label>
    <ion-input></ion-input>

  </ion-item>


 
    <ion-button>Creer etudiant</ion-button>

</ion-content>
