<ion-header>
  <ion-toolbar>
    <ion-title>Liste des Etudiants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar
          debounce="500"
          (ionInput)="searchStudent($event)"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="etudiantsFiltered != null && etudiantsFiltered.length>0;else noStudents">
    
    
    <ion-list>
      <ion-list-header>
        <h1>Liste des Etudiants</h1>
      </ion-list-header>

      <ion-item
        (press)="showMenu(etudiant.id)"
        (click)="goToDetails(etudiant.id)"
        *ngFor="let etudiant of etudiantsFiltered"
      >
        <ion-label>
          <h2>{{etudiant.name}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #noStudents>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label color="danger">
            There is no studens in the system
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" class="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" data-desc="Nouvel etudiant" (click)="showModal()">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
