<ion-header>
  <ion-toolbar>
    <ion-title>liste Spécialité</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button
      color="warning"
          [text]="retour"
          [icon]="arrow">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar   debounce="500"
  (ionInput)="searchStudent($event)"></ion-searchbar>
<h1>Liste des specialites</h1>

<div  *ngIf="filtredSpecialites != null && filtredSpecialites.length>0;else noRes">
  <ion-list>
    <ion-item *ngFor="let specialite of filtredSpecialites"  (press)="displayMenu(specialite.id_specialite)" >
      <ion-label>{{specialite.nom}} </ion-label>
    </ion-item>
   
  
  </ion-list>
</div>




<ng-template #noRes>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label color="warning">
          
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="warning" class="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">


      <ion-fab-button color="warning" data-desc="Nouvelle specialite" (click)="showModal()">
        <ion-icon name="color-filter"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
</ion-content>

  