
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
              [text]="return"
              [icon]="arrow">
          </ion-back-button>
        </ion-buttons>
        <ion-title>Contenu Module</ion-title>
    
      </ion-toolbar>
    </ion-header>
   

<ion-content>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Cours
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <!-- hna tu met l contenu ta3ek -->
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               Chapitre 1
                </p>
               
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
     
           
    
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               Chapitre 2
                </p>
               
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               Chapitre 3
                </p>
               
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               Chapitre 4
                </p>
               
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          TD
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <!-- hna tu met l contenu ta3ek -->
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               TD 1
                </p>
              
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               TD 2
                </p>
              
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
         
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               TD 3
                </p>
              
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               TD 4
                </p>
              
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          TP
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <!-- hna tu met l contenu ta3ek -->
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               TP 1
                </p>
              
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               TP 2
                </p>
              
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
         
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               TP 3
                </p>
              
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              
            <ion-row>
              <ion-col size="9">
                <p>
               TP 4
                </p>
              
                      
              </ion-col>
              
              <ion-col size="3"> 
                <ion-checkbox ></ion-checkbox> 
              </ion-col>
            </ion-row>
           
          </ion-grid>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
</ion-content>
