<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [routerLink]="['/admin/liste-modules']">
    <ion-avatar>
      <img img src="assets/img/logo.jpg" />
    </ion-avatar>
    <ion-label> Liste des modules </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/admin/listes-enseignants']">
    <ion-avatar>
      <img img src="assets/img/logoteach.PNG" />
    </ion-avatar>
    <ion-label> Liste des enseignants </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/admin/specialite']">
    <ion-avatar>
      <img img src="assets/img/logospec.jpg" />
    </ion-avatar>
    <ion-label> Liste des specialites </ion-label>
  </ion-item>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="warning" class="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="warning" data-desc="Nouvel utilisateur">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="warning" data-desc="Nouvel module">
        <ion-icon name="book"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="warning" data-desc="Nouvel spécialité">
        <ion-icon name="color-filter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
