
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
          color= "warning"
              [text]="return"
              [icon]="arrow">
          </ion-back-button>
        </ion-buttons>
        
    <ion-title>affectation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <h1> Affectation des modules </h1>
  </ion-item>
  
   
  <form (ngSubmit)="submit()" [formGroup]="affectationForm">
    <ion-item lines="full">
   

        <ion-label>Enseignants</ion-label>
        <ion-select placeholder="Enseignants" formControlName="id_enseignant" >
          <ion-select-option [value]=enseignant.id_enseignant *ngFor="let enseignant of enseignants"  >{{enseignant.nom}}</ion-select-option>
          
        </ion-select>
      </ion-item>

    <!-- hadi validation -->

    <ion-item *ngIf="Id_enseignant.touched && Id_enseignant.invalid " lines="none">
      <ion-label color="warning" *ngIf="Id_enseignant.errors.required">
        Erreur <strong>Enseignant Obligatoire </strong>
      </ion-label>
  
    </ion-item>
 


<ion-item>
  <ion-label>Modules</ion-label>

  <ion-select placeholder="Modules" formControlName="id_module" >

    <ion-select-option [value]=module.id_module *ngFor="let module of modules"  >{{module.intitule}}</ion-select-option>
    
  </ion-select>
</ion-item>

<ion-item *ngIf="Id_module.touched && Id_module.invalid " lines="none">
  <ion-label color="warning" *ngIf="Id_module.errors.required">
    Erreur <strong>Module Obligatoire </strong>
  </ion-label>

</ion-item>


<ion-row>
  <ion-col>
    <ion-button [disabled]="!affectationForm.valid" type="submit" color="warning" expand="block">{{title}}</ion-button>
  </ion-col>
</ion-row>
</form>

  </ion-content>
  
