
    <ion-header>
      <ion-toolbar>
      
    <ion-title>Nouvel Enseignant</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()" [formGroup]="enseignantForm">
    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" formControlName="nom"></ion-input>
    </ion-item>
    <ion-item *ngIf=" Nom.touched && Nom.invalid " lines="none">
      <ion-label color="danger" *ngIf="Nom.errors.required">
        Error <strong>Nom Obligatoire </strong>
      </ion-label>
  
    </ion-item>
  
    <ion-item lines="full">
      <ion-label position="floating">Prenom</ion-label>
      <ion-input type="text" formControlName="prenom"></ion-input>
    </ion-item>

  <!-- hadi validation -->
    <ion-item *ngIf=" Prenom.touched && Prenom.invalid " lines="none">
      <ion-label color="danger" *ngIf="Prenom.errors.required">
        Error <strong>Prenom Obligatoire </strong>
      </ion-label>
  
    </ion-item>
  
   
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item *ngIf=" Email.touched && Email.invalid " lines="none">
      <ion-label color="danger" *ngIf="Email.errors.required">
        Error <strong>Email required</strong>
      </ion-label>
    
      <ion-label color="danger" *ngIf="Email.errors.email">
        Error <strong>Email Invalide</strong>
      </ion-label>
     
    </ion-item>
  
    <ion-item lines="full">
      <ion-label position="floating">Lieu de naissance</ion-label>
      <ion-input type="text" formControlName="lieu_naissance" placeholder="Lieu de naissance"></ion-input>
  
    </ion-item>
    <ion-item *ngIf=" Lieu_naissance.touched && Lieu_naissance.invalid " lines="none">
      <ion-label color="danger" *ngIf="Lieu_naissance.errors.required">
        Error <strong>Lieu de naissance obligatoire</strong>
      </ion-label>
  
    </ion-item>

   
    <ion-item>
      <ion-label>MM DD YY</ion-label>
      <ion-datetime formControlName="date_naissance"  displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item *ngIf=" Date_naissance.touched && Date_naissance.invalid " lines="none">
      <ion-label color="danger" *ngIf="Date_naissance.errors.required">
        Error <strong>date de naissance obligatoire</strong>
      </ion-label>
  
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Matricule</ion-label>
      <ion-input type="text" formControlName="matricule"></ion-input>
    </ion-item>
    <ion-item *ngIf=" Matricule.touched && Matricule.invalid " lines="none">
      <ion-label color="danger" *ngIf="Matricule.errors.required">
        Error <strong>Matricule Obligatoire </strong>
      </ion-label>
  
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Telephone</ion-label>
      <ion-input type="text" formControlName="telephone"></ion-input>
    </ion-item>
    <ion-item *ngIf=" Telephone.touched && Telephone.invalid " lines="none">
      <ion-label color="danger" *ngIf="Telephone.errors.required">
        Error <strong>Telephone Obligatoire </strong>
      </ion-label>
  
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item *ngIf=" Username.touched && Username.invalid " lines="none">
      <ion-label color="danger" *ngIf="Username.errors.required">
        Error <strong>Username Obligatoire </strong>
      </ion-label>
  
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mot_de_passe</ion-label>
      <ion-input type="text" formControlName="mot_de_passe"></ion-input>
    </ion-item>
    <ion-item *ngIf=" Mot_de_passe.touched && Mot_de_passe.invalid " lines="none">
      <ion-label color="danger" *ngIf="Mot_de_passe.errors.required">
        Error <strong>Mot_de_passe Obligatoire </strong>
      </ion-label>
  
    </ion-item>
  
    <ion-item>
      <ion-label>Est chef département</ion-label>
      <ion-checkbox slot="end"  [checked]="estChefDepartement" (ionChange)="changed($event)"></ion-checkbox>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!enseignantForm.valid" type="submit" color="primary" expand="block">{{title}}</ion-button>
      </ion-col>
    </ion-row>
  </form>


</ion-content>
